* {
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;

  background-color: rgb(203, 195, 227);
}

.logo {
  font-family: "Handlee", cursive;
  font-size: 40px;
  margin-left: -10px;
  padding-right: 10px;

  border-right: 3px solid plum;
}

.logo-text {
  margin-left: 5px;
  font-size: 40px;
  opacity: 50%;
}

.my-navbar a {
  text-decoration: none;
  color: purple;
  font-size: 20px;

  margin: 2px;
  padding: 10px;
}

.my-navbar a:hover:not(.active) {
  background-color: blueviolet;
  color: white;

  border-radius: 5px;
}

a.active {
  background-color: blueviolet;
  color: white;

  border-radius: 5px;
}

.register a {
  text-decoration: none;
  font-size: 20px;
  color: purple;
  padding: 5px;
  margin-left: 10px;
  border: 2px solid purple;
  border-radius: 5px;
}

.register a:hover {
  background-color: blueviolet;
  color: white;
}
